---
/**
 * SheetTrigger - Label pour ouvrir le sheet (Pure CSS)
 * 
 * @param {string} htmlFor - ID du checkbox (doit correspondre à Sheet.id)
 * @param {string} className - Classes CSS supplémentaires
 */

interface Props {
  htmlFor: string;
  className?: string;
  [key: string]: any;
}

const {
  htmlFor,
  className = '',
  ...htmlAttributes
} = Astro.props as Props;

const classes = [
  'sheet-trigger',
  className,
].filter(Boolean).join(' ');
---


<label for={htmlFor} class={['sheet-trigger', 'button', 'initial', className].filter(Boolean).join(' ')} tabindex="0" role="button" {...htmlAttributes}>
  <slot />
</label>

<style>
  .sheet-trigger {
    cursor: pointer;
    display: inline-block;
  }
</style>

